@using ChatApplicationSignalR.Managers
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject SignInManager<User> SignInManager
@inject UserManager UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <div class="NavigationMenuContainer">
        <NavLink class="NavigationMenu" href="/home">Home</NavLink>
        <NavLink class="NavigationMenu" href="/about">About</NavLink>
        <NavLink class="NavigationMenu" href="/contact">Contact Us</NavLink>
        <div class="NavigationLoginContainer">
            <AuthorizeView>
                <Authorized>
                    <p>Hi @Username, Role: @Roles</p>
                    <NavLink class="NavigationMenu NavigationLogin" href="/logout">Log Out</NavLink>
                </Authorized>
                <NotAuthorized>
                    <p>Hi Guest, Role: Guest</p>
                    <NavLink class="NavigationMenu NavigationLogin" href="/">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</CascadingAuthenticationState>

<div class="page">

   @Body
</div>

@code {
    private bool IsLoggedIn;
    private string? Username;
    private string? Roles;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        IsLoggedIn = SignInManager.IsSignedIn(user);

        if (user?.Identity?.Name != null)
        {
            var username = user.Identity.Name;
            var currentUser = await UserManager.GetUserByUsernameAsync(username);
            if (currentUser != null)
            {
                if (IsLoggedIn)
                {
                    Username = currentUser.UserName;
                    Roles = await UserManager.GetRoleFromUserAsync(Username);
                }
            }
        }
        else
        {
            Username = "Guest";
            Roles = "Guest";
        }
    }
}

<style>
    .NavigationMenuContainer {
        display: flex;
        justify-content: center;
    }

    .NavigationMenu {
        padding: 20px;
        text-decoration: none;
    }

    .NavigationLoginContainer {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .NavigationLogin {
        padding-right: 50px;
    }
</style>