@inherits LayoutComponentBase



<div class="NavigationMenuContainer">
    <NavLink class="NavigationMenu" href="/home">Home</NavLink>
    <NavLink class="NavigationMenu" href="/about">About</NavLink>
    <NavLink class="NavigationMenu" href="/contact">Contact Us</NavLink>
    <div class="NavigationLoginContainer">
        <NavLink class="NavigationMenu NavigationLogin" href="/">Login</NavLink>
    </div>
</div>
<div class="page">

   @Body
</div>

<style>
    .NavigationMenuContainer {
        display: flex;
        justify-content: center;
    }

    .NavigationMenu {
        padding: 20px;
        text-decoration: none;
    }

    .NavigationLoginContainer {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .NavigationLogin {
        padding-right: 50px;
    }
</style>