@page "/"
@using ChatApplicationSignalR.Pages

<PageTitle>Login</PageTitle>


<div class="Login">
    <div>
        <label> Username</label>
        <input placeholder="username" />
    </div>
    <div>
        <label> Password </label>
        <input placeholder="password"/>
    </div>
</div>

<div>
    <button> Submit</button>
</div>


<NavLink href="/register">Register</NavLink>


<style>
    .Login {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>

@{
    

    
}
