@page "/"
@using ChatApplicationSignalR
@using ChatApplicationSignalR.Managers
@using ChatApplicationSignalR.Pages
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages
@inject SignInManager<User> SignInManager
@inject UserManager UserManager
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel
<head>
<link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>

<PageTitle>Login</PageTitle>

<div class="UserForm">
    <div class="LoginHeadingContainer">
        <h2 class="LoginHeading">Login</h2>
    </div>
    <form method="post">
        <div>
            <input class="UserInputFields" type="text" placeholder="Username" name="Username" />
        </div>
        <div>
            <input class="UserInputFields" type="password" placeholder="Password" name="Password"/>
        </div>
        <div class="ForgotPasswordContainer">
            <a class="ForgotPassword" href="/forgotPassword">Forgot Password?</a>
        </div>
        @if (!string.IsNullOrEmpty(Model.ValidationMessage))
        {
            <div>
                <p>@Model.ValidationMessage</p>
            </div>
        }
        <div>
            <button type="submit" asp-page-handler="OnPostAsync" class="SignInButton">Sign In</button>
        </div>
        <div class="RegisterLinkContainer">
            <p>Don't have an account? <a class="RegisterLink" href="/register">Register</a></p>
        </div>
    </form>
</div>


 <style>

    html, body {
    font-family: 'Nunito', sans-serif;
    background-color: ghostwhite;
}

.UserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    border: 1px solid black;
    width: min(250px, 100% - 50px);
    margin-inline: auto;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(211,211,211, 0.9);
}

.UserInputFields {
    margin-bottom: 15px;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: left;
}


    .LoginHeading {
        text-align: left;
        margin-left: 25px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 25px;
    }

    .LoginHeadingContainer {
        display: flex;
        justify-content: flex-start; 
        width: 100%; 
    }

    .ForgotPasswordContainer {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .ForgotPassword {
        margin-left:25px;
        font-size: 14px;
        margin-top: -5px;
        text-decoration: none;
    }

    .SignInButton {
        border-radius: 15px;
        background-color: midnightblue;
        padding: 13px;
        width: 210px;
        color: floralwhite;
        font-size: 15px;
        margin-top: 15px;
        border-color: dodgerblue;

    }

    .RegisterLinkContainer {
        margin-top: -1px;
        font-size: 15px;

    }

    .RegisterLink {
        text-decoration: none;
    }

</style>