@page "/"
@using ChatApplicationSignalR.Pages

<PageTitle>Login</PageTitle>



<div class="UserForm">
    <div class="LoginHeadingContainer">
        <h2 class="LoginHeading">Login</h2>
    </div>
    <div>
        <input class="UserInputFields" placeholder="Username" />
    </div>
    <div>
        <input class="UserInputFields" placeholder="Password"/>
    </div>
    <div class="ForgotPasswordContainer">
        <NavLink class="ForgotPassword" href="/forgotPassoword">Forgot Password?</NavLink>
    </div>
    <div>
        <button type="submit" class="SignInButton">Sign In</button>
    </div>
    <div class="RegisterLinkContainer">
        <p>Don't have an account? <NavLink class="RegisterLink" href="/register">Register</NavLink></p>
    </div>
</div>

<style>
    .LoginHeading {
        text-align: left;
        margin-left: 25px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 25px;
    }

    .LoginHeadingContainer {
        display: flex;
        justify-content: flex-start; 
        width: 100%; 
    }

    .ForgotPasswordContainer {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .ForgotPassword {
        margin-left:25px;
        font-size: 14px;
        margin-top: -5px;
        text-decoration: none;
    }

    .SignInButton {
        border-radius: 15px;
        background-color: midnightblue;
        padding: 13px;
        width: 210px;
        color: floralwhite;
        font-size: 15px;
        margin-top: 15px;
        border-color: dodgerblue;

    }

    .RegisterLinkContainer {
        margin-top: -1px;
        font-size: 15px;
        
    }

    .RegisterLink {
        text-decoration: none;
    }

</style>

@{
    

    
}
