@page "/register"

<PageTitle>Register</PageTitle>

<div class="UserForm">
    <div>
        <h2>Sign Up</h2>
    </div>

    <div>
        <input class="UserInputFields" placeholder="Username" />
    </div>

    <div>
        <input class="UserInputFields" placeholder="Password"/>
    </div>

    <div>
        <input class="UserInputFields" placeholder="Confirm Password"/>
    </div>

    <div>
        <button>Register</button>
    </div>

    <div>
        <p>Already have an account? <NavLink href="/">Log In</NavLink></p>
    </div>
</div>





<style>
    ::placeholder{
        color: dimgrey;
    }
</style>

@{
}
