@page "/register"
@using ChatApplicationSignalR.Controllers
@using ChatApplicationSignalR.Managers
@using Microsoft.AspNetCore.Identity
@inject UserManager UserManager
@inject RoleManager RoleManager
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div class="UserForm">
    <div>
        <h2>Sign Up</h2>
    </div>

    <div>
        <input class="UserInputFields" placeholder="Username" @bind="username" />
    </div>
    
    <div>
        <input class="UserInputFields" placeholder="Password" @bind="password"/>
    </div>

    <div>
        <input class="UserInputFields" placeholder="Confirm Password" @bind="confirmPassword"/>
    </div>

    @if (!string.IsNullOrEmpty(validationMessage))
    {
        <div>
            <p>@validationMessage</p>
        </div>
    }

    <div>
        <button @onclick="RegisterUser">Register</button>
    </div>

    <div>
        <p>Already have an account? <NavLink href="/">Log In</NavLink></p>
    </div>
</div>

<style>
    ::placeholder{
        color: dimgrey;
    }
</style>

@code {
    private string? validationMessage;
    private string? username;
    private string? password;
    private string? confirmPassword;

    private async Task RegisterUser()
    {
        if (password != confirmPassword)
        {
            validationMessage = "Password and Confirm Password don't match";
            return;
        }

        var result = await UserManager.AddUser(username, password);
        if (result.Succeeded)
        {
            validationMessage = "";
            NavigationManager.NavigateTo("/home");

        }
        else {
            validationMessage = "Error Creating the User.";
        }
    }
}

